<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iamriju2000.sstpassword">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SSTPassword">
        <activity
            android:name=".activity.UpdateFinance"
            android:label="Update Bank Data"></activity>
        <activity
            android:name=".activity.AddFinance"
            android:label="Add New Bank Data" />
        <activity
            android:name=".activity.UpdatePersonal"
            android:label="Update Data" />
        <activity
            android:name=".activity.AddPersonal"
            android:label="Add New Password" />
        <activity
            android:name=".activity.FinanceList"
            android:label="Banking"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.BankDetails"
            android:label="Bank Details" />
        <activity
            android:name=".activity.PersonalList"
            android:label="Passwords"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>